<h1>Listing datelogs</h1>


<%- @datelogs.each do |datelog| %>
  <div>
    <h2><%= datelog.daylog %></h2>
    Timelogs
    <p><%= render datelog.timelogs %></p>

    <%= link_to 'Edit Datelog', edit_employee_datelog_path(@employee, datelog) %>
  </div>


<% end %>

<div>
  <%= link_to 'Back to Employee', employee_path(@employee) %>
</div>
