%div.timelogstyle
  %table
    %COLGROUP
      %COL{:width=>"75"}
      %COL{:width=>"50"}
      %COL{:width=>"300"}
    %tr
      %td=timelog.type
      %td=timelog.hourlog
      %td=timelog.description
