<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      This application lets different employees log time for work using a number of different activity types by date and employee. It will calculate total time per day so that it can be easily evaluated. See the repo at <a href="https://github.com/eejones/Employee_time_log">Employee Time Log Repo</a>
    </p>
