<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Good luck getting help, but you can look for details on this app at Eric's github
      <a href="https://github.com/eejones">Github account for Eric Jones</a>.
    </p>
