<div class="center hero-unit">
    <h1>Logging Time</h1>
    <h2>
      This is the home page for logging time
    <a href="https://github.com/eejones/Employee_time_log">Employee Time Log</a>
     Eric E Jones
    </h2>
  <%= link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("genericcompany.png", :alt=> "Rails"), '<Your Company Name Here>' %>

<%= link_to "Employee Time Entry", employees_path %>
